strict-peer-dependencies=false
auto-install-peers=true
dedupe-peer-dependents=true
resolve-workspace-root=true
frozen-lockfile=false
shamefully-hoist=true
prefer-frozen-lockfile=false
use-node-version=20.17.0
